<footer class="w-100 h-auto bg-dark d-flex flex-column justify-content-center align-items-center">
  <div class="d-flex flex-row justify-content-center align-items-center gap-2 p-2">
    <a href="/facebook" class="nav-link text-light d-flex flex-row justify-content-center align-items-center p-2 gap-2"><ng-icon size="25" name="bootstrapFacebook"></ng-icon><span>facebook</span></a>
    <a href="/twitter" class="nav-link text-light d-flex flex-row justify-content-center align-items-center p-2 gap-2"><ng-icon size="25" name="bootstrapTwitterX"></ng-icon><span>twitter</span></a>
    <a href="/instagram" class="nav-link text-light d-flex flex-row justify-content-center align-items-center p-2 gap-2"><ng-icon size="25" name="bootstrapInstagram"></ng-icon><span>instagram</span></a>
  </div>
</footer>
